<div id="mainBox">
  <div class="upperBox">
    <ion-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">GLOBE-APP</ion-title>
    <ion-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
  <hr>
  <div class="middleBox">
    <select name="lang" id="">
      <option value="">opcion1</option>
    </select>
    <select name="history" id="">
      <option value="">opcion1</option>
    </select>
  </div>

</div>